apiVersion: v1
kind: Service
metadata:
  name: flask-app
spec:
  type: LoadBalancer   # or use NodePort if not in EKS
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: 80           # public port
      targetPort: 5000   # container port